.contacts {
  display: flex;
  align-items: center;
  margin-left: auto;
  @include fonts(500, 14px, 1.14, 0.02em);
}

.contacts__link {
  display: flex;
  justify-content: center;
  color: var(--primary-text-color);
  fill: currentColor;
}

.contacts__icon {
  margin-right: 10px;
}

.address__wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 232px;
}

.address {
  margin-bottom: 60px;
  max-width: 232px;
  margin-top: 20px;
  @include fonts(400, 14px, 1.71, 0.03em);
  font-style: normal;
  color: rgba(255, 255, 255, 0.6);
  @media screen and (min-width: 768px) {
    margin-right: 165px;
    align-items: baseline;
  }
  .contacts__item:not(:last-child) {
    margin-bottom: 8px;
    margin-right: 0;
  }
}

.contacts__location {
  color: var(--background-color);
}
