.contacts {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  gap: 10px;
  @include fonts(500, 12px, 1.17, 0.02em);
  @media screen and (min-width: 1200px) {
    flex-direction: row;
    gap: 50px;
    @include fonts(null, 14px, 1.14, null);
  }
}

.contacts__link {
  display: flex;
  align-items: center;
  @media screen and (min-width: 1200px) {
    justify-content: flex-start;
  }
  color: var(--primary-text-color);
  fill: currentColor;
}

.contacts__icon {
  margin-right: 10px;
  @media screen and (max-width: 1199px) {
    margin-right: 8px;
    &.envelope {
      width: 14px;
      height: 10px;
    }
    &.smartphone {
      height: 14px;
      width: 10px;
    }
  }
}
