.site-footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--secondary-background-color);
  text-align: center;
  .container__site-footer {
    @media screen and (min-width: 768px) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: baseline;
    }
    @media screen and (min-width: 1200px) {
      text-align: left;
    }
  }
}

.address__wrap {
  display: flex;
  flex-direction: column;
  margin-bottom: 60px;
  @media screen and (min-width: 1200px) {
    margin-bottom: 0;
    margin-right: 70px;
  }
}

.address {
  justify-content: center;
  margin-top: 20px;
  @include fonts(400, 14px, 1.71, 0.03em);
  font-style: normal;
}

.address__item:not(:last-child) {
  margin-bottom: 8px;
  @media screen and (min-width: 1200px) {
    margin-bottom: 9px;
  }
}

.address__link {
  display: flex;
  justify-content: center;
  color: rgba(255, 255, 255, 0.6);
  @media screen and (min-width: 1200px) {
    justify-content: flex-start;
  }
}

.address__location {
  color: var(--background-color);
}
