.site-header {
  border-bottom: 1px solid #ececec;
  .container__site-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media screen and (min-width: 1200px) {
      justify-content: flex-start;
      .site-nav {
          margin-left: 93px;
          margin-right: auto;
        }
    }
  }
}
