.site-header {
  border-bottom: 1px solid #ececec;
  .container__site-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  @media screen and (max-width: 1199px) {
    justify-content: space-between;
  }
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
