.menu-toggle {
  margin-left: auto;
  padding: 10px 0;
  border: 0;
  background-color: var(--background-color);
  &:hover .menu-icon {
    fill: var(--accent-color);
  }
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 48px 40px;
  background-color: var(--background-color);
  z-index: 100;
  transform: translateX(100%);
  transition: var(--transform-type);
}

.menu-container.is-open {
  transform: translateX(0);
  .menu-toggle {
    position: absolute;
    top: 10px;
    right: 15px;
    padding: 0;
  }
}

.menu-wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.mob-nav {
  flex-grow: 1;
  .mob-nav__item:not(:last-child) {
    margin-bottom: 32px;
  }
  .mob-nav__link {
    @include fonts(500, 40px, 1.18, 0.02em);
    color: var(--title-text-color);
    &--current {
      color: var(--accent-color);
    }
  }
}

.mob-contacts {
  margin-bottom: 64px;
  .mob-contacts__item:not(:last-child) {
    margin-bottom: 32px;
  }
  .mob-contacts__link {
    @include fonts(500, 24px, 1.17, 0.02em);
    color: var(--primary-text-color);

    &.tel {
      @include fonts(500, 34px, 1.18, 0.02em);
      color: var(--accent-color);
      @media screen and (max-width: 420px) {
        font-size: 8vw;
      }
    }
  }
}

.soc-nav {
  display: flex;
  .soc-nav__item {
    padding: 0 10px;
    &:first-child {
      padding-left: 0;
    }
    &:not(:last-child) {
      border-right: 1px solid rgba(33, 33, 33, 0.2);
    }
    .soc-nav__link {
      @include fonts(500, 18px, 1.22, 0.02em);
      color: var(--accent-color);
      @media screen and (max-width: 420px) {
        font-size: 3.5vw;
      }
    }
  }
}

.site-nav,
.contacts__item {
  @media screen and (max-width: 767px) {
    display: none;
  }
}
