.hero {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-size: cover;
  background-color: #c4c4c4;
  background-position: center;
  background-repeat: no-repeat;
  @media screen and (max-width: 767px) {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/hero-bg.jpg);
    height: 400px;
    max-width: 767px;
    background-size: 480px 400px;
  }
}

.hero__title {
  width: 696px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  @include fonts(900, 44px, 1.36, 0.06em);
  text-transform: uppercase;
  color: var(--background-color);
}

.hero__btn {
  padding: 10px 32px;
}
